<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="322111643183-ir500rfpqmajjve57vthos60bgbk87hp.apps.googleusercontent.com.apps.googleusercontent.com">
    <title>DoggyDate</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>
  <header>
    <!-- <a href="/">Sign up with different account?</a>
    <a href="/login" class="logout">Log out</a> -->
  
  </header>
  <body>
    <main>
